.detail-container {
    padding: 2rem;
    background: var(--mat-sys-surface-container-low);
}
.client-card {
  background: var(--mat-sys-surface);
  border-radius: 12px;
  padding: 1rem;
  box-shadow: var(--mat-sys-level2);
  margin-bottom: 2rem;
}

.client-info-row {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 12px;
}

.info-row {
    display: flex;
    align-items: center;
    gap: 8px;
}

.note-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notes-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.note-card {
    background: var(--mat-sys-surface);
    border-radius: 8px;
    padding: 1rem;
    box-shadow: var(--mat-sys-level2);
}

.notes-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;

    button{
        border-radius: 100%;
        box-shadow: none;
    }
}