.table-container {
    margin: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: var(--mat-sys-level2);
    background-color: var(--mat-sys-surface);
}

.toolbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--mat-sys-surface-container);
    padding: 12px;
    align-items: center;

    button {
        border-radius: 100%;
        box-shadow: none;
    }
}

.search-field {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 4px 8px;
    border-radius: 8px;
    background: var(--mat-sys-surface);
    width: 280px;

    mat-icon{
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
    }

    input {
        border: none;
        outline: none;
        background: transparent;
        width: 100%;
    }
}