.table-container {
    margin: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: var(--mat-sys-level2);
    background-color: var(--mat-sys-surface);
}

.toolbar {
    display: flex;
    justify-content: flex-end;
    background-color: var(--mat-sys-surface-container);
    padding: 10px;
    gap: 12px;
    align-items: center;

    button {
        border-radius: 100%;
        box-shadow: none;
    }
}