:host{
    display: block;
    min-height: 100vh;
    background-color: var(--mat-sys-surface-container-low);
}
.page-container {
    margin: 0 auto;
    max-width: 1100px;
    padding: 2rem;
}
.table-container {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: var(--mat-sys-level2);
    margin: auto;
    background-color: var(--mat-sys-surface);
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    h1 {
        margin: 0;
        font-size: 1.6rem;
        font-weight: 600;
    }

    button {
        border-radius: 100%;
        box-shadow: none;
    }
}

.search-field {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 4px 8px;

    mat-icon{
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
    }

    input {
        border: none;
        outline: none;
        width: 100%;
        background: transparent;
    }
}

tr.mat-mdc-row{
    &:hover {
        background-color: var(--mat-sys-surface-container);
    }
}

.mat-mdc-paginator {
  border-top: 1px solid var(--mat-sys-outline-variant);

  .mat-mdc-paginator-range-label {
    font-size: 0.85rem;
    color: var(--mat-sys-on-surface-variant);
  }

  .mat-mdc-icon-button {
    border-radius: 8px !important;
    width: 32px !important;
    height: 32px !important;
    padding: 0 !important;

    &:hover {
      background-color: var(--mat-sys-surface-container) !important;
    }

    &[disabled] {
      opacity: 0.3;
    }
  }

  .mat-mdc-select-value {
    font-size: 0.85rem;
  }
}